/* CSS Slider from W3Schools */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Responsive Columns */
 .row::after 
 {
  content: "";
  clear: both;
  display: table;
}

/* For Telefone: */
[class*="col-"] 
{
  width: 100%;
}

@media only screen and (min-width: 1024px) 
{
	.col-1 {width: 7%;}
	.col-2 {width: 18.6%;}
	.col-3 {width: 18.6%;}
	.col-4 {width: 18.6%;}
	.col-5 {width: 18.6%;}
	.col-6 {width: 18.6%;}
}

[class*="col-"] 
{
  float: left;
  padding: 3px;
}


/* Value Fields */

#stat1,#stat2,#stat3
{
  border-radius: 25px;
  background: #4466EE;
  color: white;
  text-indent: 30px;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 5px;
  width: 200px;
  height: 24px;
}

#temp1,#temp2,#temp3
{
  border-radius: 25px;
  background: #BB2211;
  color: white;
  text-indent: 20px;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 5px;
  width: 220px;
  height: 24px;
}

